h3 Understanding the interface
p.
   <strong>At the left</strong> of the chat is your roomlist as well as private message list.
p.
   Each room you're in is listed there. If you have any private messages open,
   they will also show there.
p  <strong>In the middle</strong> is the conversation of each window.
p.
   <strong>At the right</strong> is the userlist. If your current window is a room, you'll see 
   which users are connected to that specific room. You can click on them to engage
   in a private conversation.
p <strong>There are several chat functions you should know about.</strong> 
p.
   You can cycle through your last written messages by pressing the up or down arrow.
   By default, it's the last <strong>five</strong> messages.
p.
   As you may have seen, <strong>once you connect you're assigned a random nickname</strong> 
   that you can change by typing
p(class="alert alert-info text-center") <strong>/nick &lt;myNewNick&gt;</strong>

p Other commands you may find useful are:
p(class="alert alert-success text-center") <strong>/join &lt;#room&gt;</strong> 
p.
   <i>(Note that the # is required)</i>
   This joins a <strong>new room</strong> where you can speak more privately.
p  If you want to <strong>leave a room</strong>, you can use
p(class="alert alert-danger text-center") <strong>/leave [#room]</strong>
p In this case, the room name is optional. If you don't specify any, the current one will be left.
p(class="alert alert-warning text-center") <strong>/me &lt;action&gt</strong>
p.
   This command doesn't really have any usefulness. It's just to play around with it like for example
   <i>/me is happy</i>.
p.
   If you have any <strong>private messages</strong> open and you want to <strong>close that window</strong>, you can do so by selecting 
   that window and typing 
p(class="alert alert-info text-center") <strong>/close</strong>
p. 
   <strong>There are a big number of chat emoticons you can use. As the list would be too large, you can check them
   out right <a href="http://factoryjoe.com/projects/emoticons/" target="_blank">here</a></strong>